.history__container {
    width: 100%;
    padding: 0.8rem 0 1rem;
    display: flex;
    justify-content: space-between;
}

.history__filter {
    display: flex;
}

.history__button {
    padding: 0.5rem 1.2rem;
}

.history__filter .ant-picker {
    margin-right: 2rem;
    border-radius: 3rem;
}

.history__title {
    font-size: 1.6rem;
    color: yellow;
}

.history__time {
    min-width: 15rem;
}

.history__search {
    min-width: 35rem;
    border-radius: 3rem;
}

tr, th {
    border-bottom: 1px solid rgb(91, 91, 91);
}

.history__center {
    display: flex;
    justify-content: center;
}
.history__item td {
    padding: 0 0.5rem;
}

.history__item img {
    width: 12rem;
    max-height: 7.2rem;
    object-fit: cover;
}

.history__content-name img {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
}

.history__list th {
    text-align: center;
}

.history__content-genres,
.history__content-name {
}

.history__content-name {
    cursor: pointer;
}