.header__menu-genre {
    position: absolute;
    top: 5rem;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding-left: 2rem;
    padding-bottom: 1rem;
    margin-right: 5rem;
    left: 5rem;
    border-radius: 8px;
    /* transition: all 0.2s ease-in-out;
    animation: showMenuItem 0.5s ease-in-out; */
}

/* @keyframes showMenuItem {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
} */

.list-genre {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;

}

.list-genre__title {
    margin: 1rem;
    color: yellow;
}

.list-genre__item {
    list-style: none;
    display: inline-block;
    margin-right: 2rem;
    width: 17rem;
    padding: 0.5rem 0;
    color: white;
    
}

.list__menu-link {
    /* pointer-events: none; */
}

.header__menu-genre::before {
    position: absolute;
    top: -1rem;
    left: -0.3rem;
    display: block;
    content: "";
    width: 100%;
    height: 2rem;
}

@media (max-width: 768px) {
    .header__menu-genre {
        background-color: transparent;
        top: 17rem;
        left: 0;
    }
    .list-menu__genre {
        /* padding: 0; */
    }
}
