.content-item {
  position: relative;
  margin: 0 auto;
  max-width: 34rem;
  max-margin: 0 1rem;
  padding: 0 1rem;
  /* margin: 0 1rem; */
  transition: all 0.25s ease-in-out;

}

.content-item__link {
  color: rgb(233, 230, 230);
  /* margin-right: 2rem; */
}

.content-item__content {
  font-weight: 450;
  margin: 10px 0;
  width: 100%;
  height: 18rem;
  background-size: cover;
  background-color: #222222;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  box-shadow: 0 0 10px rgba(236, 229, 229, 0.5);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.content-item__content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
}

.content-item__quanlity {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 4rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  font-size: 1.4rem;
  background-color: rgb(15, 15, 15, 0.6);
  border-radius: 6px;
  z-index: 1;
}

.content-item__cent {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 3.3rem;
  height: 3.3rem;
  line-height: 3.3rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 3.3rem;
  z-index: 1;
}

.content-item:hover .content-item__image {
  transform: scaleY(1.05);
  transform: scaleX(1.1);
}

.content-item:hover {
  font-weight: 450;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateY(-5px);
}

.content-item:hover .content-item__quanlity,
.content-item:hover .content-item__desc {
  color: yellow;
}

.content-item:hover .content-item__cent,
.content-item:hover .content-item__quanlity {
  background-color: rgba(0, 0, 0, 0.8);
}

.content-item__desc {
  position: absolute;
  top: 1rem;
  font-size: 2rem;
  padding: 1.5rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.content-item__name {
  max-width: 25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  min-height: 3rem;
}

.content-item__date {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  margin-bottom: 3rem;
}

.content-item__point {
  margin-left: 1rem;
}

.content-button {
  position: absolute;
  left: 1.5rem;
  bottom: 1.5rem;
  z-index: 1;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
  .content-item {
    margin: 0 1rem;
    max-width: 38rem;
    padding: 0;
  }
}
