.manager__container {
    min-height: calc(100vh - 29.6rem);
    display: flex;
    padding: 68px 5rem 8px;
}

.manager-menu {
    width: 27%;
    min-height: calc(100vh - 29.6rem);
    margin-right: 3rem;
    border: 1px solid rgb(67, 67, 67);
    border-radius: 12px;
    background-color: rgb(67, 67, 67);
}

.manager-menu__header {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: #fff;
}

.manager-menu__header img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin: 0 2rem 0.5rem 3rem;
}

.manager-menu__header-desc {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.manager-menu__header-name {
}

.manager-menu__header-email {
    font-size: 1.6rem;
    margin-top: 1rem;
}

.manager-menu__body {
}

.manager-menu__list {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
}

.manager-menu__item {
    font-size: 1.6rem;
    list-style: none;
    padding: 1.3rem 2rem;
    background-color: #fff;
    margin-bottom: 2rem;
    cursor: pointer;
}

.manager-menu__item:hover {
    background-color: rgb(133, 133, 133);
}

.manager-content {
    width: calc(73% - 3rem);
    background-color: rgb(61, 61, 61);
    min-height: calc(100vh - 28rem);
    border-radius: 12px;
    padding: 2rem 3rem;
}


