.manager__container {
    min-height: calc(100vh - 25rem);
    display: flex;
    padding: 7rem 5rem 0;
    /* margin-top: 6rem; */
}

.manager-menu {
    width: 27%;
    /* min-height: calc(100vh - 31.6rem); */
    margin-right: 3rem;
    /* border: 1px solid rgb(67, 67, 67); */
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2);
}

.manager-menu__header {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: #fff;
}

.trailer-video {
    max-width: 560px !important;
    width: 100%;
    height:315px !important;
}

.manager-menu__header img {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 2rem 0.5rem 3rem;
    border: 1px solid rgb(101, 101, 101);
}

.manager-menu__header-desc {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#url-video {
    display: flex;
    justify-content: center;
}

.video-url,
#url-video>iframe {
    max-width: 560px !important;
    max-height:315px !important;
}

/* .manager-menu__header-name {
} */

.manager-menu__header-email {
    font-size: 1.6rem;
}

/* .manager-menu__body {
} */

.manager-menu__list {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    justify-content: center;
}

.manager-active {
    background-color: rgb(43 176 255) !important;
}

.manager-menu__item {
    font-weight: 500;
    color: #000;
    font-size: 1.6rem;
    list-style: none;
    padding: 1.3rem 2rem;
    background-color: #fff;
    margin-bottom: 2rem;
    cursor: pointer;
}

.manager-menu__item i {
    margin-right: 1rem;
    font-size: 2rem;
}

.manager-menu__item:hover {
    background-color: rgb(133, 133, 133);
}

.manager-content {
    flex: 1;
    width: calc(73% - 3rem);
    background-color: rgba(255, 255, 255, 0.2);
    /* min-height: calc(100vh - 28rem); */
    border-radius: 4px;
    padding: 2rem 3rem;
}

.my-movie__container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.my-movie__container .movie-item {
    /* display: flex; */
    /* justify-content: flex-start; */
    margin: 0;
    min-width: 20rem;
}

.movie-favourite__container .view-more__item {
    padding: 0 0.5rem;
    max-width: 20%;
    flex: 0 0 20%;
    width: 100%;
    margin-bottom: 1rem;
}

.my-movie__container .view-more__item {
    min-width: 20%;
    width: 20rem;
}

.change-password {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.change-password .input {
    min-width: 60rem;
}

.update-movie {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: center;

}

.update-movie__wrap {
    justify-content: center;
    align-items: center;
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.update-movie__button {
    display: none;
    z-index: 100;
}

.movie-item__content:hover .update-movie__wrap  {
    display: flex;
    width: 100%;
    height: 100%;
}

.movie-item__content:hover .update-movie__button  {
    display: flex;
}

.update-movie__button span {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    /* margin-bottom: 0.5rem; */
    margin-right: 1rem;
    border-radius: 4px;
}

.update-movie__button span i {
    margin-right: 0.5rem;
}

.update-movie__button span:last-child {
    margin-right: 0;
}

.my-movie__container {
    display: flex;
    flex-wrap: wrap;
}

.my-movie__container .movie-item {
    margin: 0;
}

.my-movie__container .view-more__item {
    min-width: 20%;
}


.radio-group label,
.label-checkbox {
    margin: 1rem !important;
  }

  
.ant-result-title {
    color: #fff
}

.manager-loading.loading {
    height: 50rem;
}

.change-password {
    position: relative;
    width: 100%;
}

.change-password>i {
    position: absolute;
    top: 48px;
    color: #000;
    right: 15px;
    cursor: pointer;
}

.manager__menu-bar {
    display: none;
    color: #fff;
    font-size: 2rem;
    margin-right: 1rem;
}

@media (max-width: 1200px) {
    .manager-menu {
        display: none;
    }
    .manager__menu-bar {
        display: block;
    }
}

@media (max-width: 786px) {
    .manager__container {
        padding-left: 2rem;
        padding-right: 2rem;
        min-height: 0;
    }
    .manager-content {
        padding: 0 0.5rem;
    }
    .change-password .group {
        width: 100%;
    }
    .change-password .input {
        min-width: 0;
    }
}


