.movie-list {
    margin: 5rem auto;
    width: 100%; 
    color: rgb(224, 220, 220);
}

.movie-list__header {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem 1.5rem;
    align-items: flex-end;
}

.movie-list__title {
    font-size: 3rem;
    color: yellow;
    text-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
}

.movie-list__more {
    font-size: 1.6rem;
    padding: 0.5rem;
    border: 2px solid white;
    border-radius: 10rem;
    cursor: pointer;
}

.movie-list__more:hover {
    color: yellow;
}


