.header {
    height: 6rem;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0));
    /* background-color: black; */
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    z-index: 1001;
    position: fixed;
    top: 0;
    transition: all 0.25s ease-in-out;
}

.header-fixed {
    background-color: rgba(0, 0, 0, 0.7);
}

.header__menu {
    display: flex;
    align-items: center;
    min-height: 100%;
}

.header__menu-bar {
    margin-right: 2rem;
    display: none;
    cursor: pointer;
    height: 100%;
    font-size: 2rem;
    z-index: 1002;
}

.header__logo {
    padding-right: 3rem;
    cursor: pointer;
    margin: 0;
}

.header__logo:hover {
    color: yellow;
}

.header__menu-list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    overflow: auto;
}

.header__menu-item {
    list-style: none;
}

.link__menu-genre,
.header__menu-link {
    text-decoration: none;
    color: currentColor;
    padding: 0 1.5rem;
    transition: all 0.25s ease-in-out;
}

.header__menu-link:last-child {
    padding-right: 0;
}

.link__menu-genre:hover,
.header__menu-link:hover {
    color: rgb(245, 62, 62);
}

.active {
    color: red;
}

.menu-genre__container {
    /* visibility: hidden; */
    display: none;
    opacity: 0;
    transition: visibility 0s, opacity 0.25s ease-out;
}

.link__menu-genre {
    display: block;
    align-items: center;
}

.link__menu-genre:hover .menu-genre__container {
    /* visibility: visible; */
    opacity: 1;
    display: block;
    
}

.header-list__feature {
    display: flex;
    margin: 0;
    align-items: center;
}

.feature__item {
    list-style: none;
    margin-left: 25px;
    cursor: pointer;
    font-size: 16px;
}

.show-language {
    display: none;
}

@media (max-width: 1024px) {
    
}

@media (max-width: 768px) {
    .feature__item.header-list__feature #google_translate_element {
        position: absolute;
        top: 56px;
        right: 0;
    }
    .header-list__feature {
        padding: 0;
    }
    .header__logo {
        display: none;
    }
    .header__menu-bar {
        display: flex;
        align-items: center;
    }
    .header__menu-list {
        position: fixed;
        width: 70%;
        top: 6rem;
        left: -70%;
        bottom: 0;
        display: block;
        z-index: 1002;
        background-color: rgba(0, 0, 0, 0.8);
        transition: all 0.25s ease-in-out;
        animation: menu 0.5s ease-in-out;
    }
    .header__menu-item {
        padding-top: 1.5rem;
        padding-left: 1rem;
    }
    .header__menu-link {
        display: block;
    }
    .show-menu {
        left: 0;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        z-index: 1002;
    }
}

@keyframes menu {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.feature__search {
    width: 0;
    box-sizing: border-box;
    height: 30px;
    padding: 0;
    border: none;
    transition: all 0.25s ease-in-out;
    margin-right: 1rem;
}

.show-search {
    width: 300px;
    
    
}
