.feedback-main textarea,
.feedback-main input {
    /* width: 100%;
    margin-bottom: 2rem; */
}

.feedback-main {
    margin-top: 1rem;
}

.feedback-main textarea {
    height: 200px;
}

.bw {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin: 2rem 0;

}