.app__container {
  max-width: 100%;
  height: 100%;
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ant-image-preview-wrap {
  background-color: rgb(74, 74, 74);
}

a {
  color: white !important;
}

ul {
  margin: 0;
  padding: 0;
}

.ant-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-pagination-item-link,
.ant-pagination li {
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50% !important;
}

.ant-pagination li a {
  color: rgb(0, 0, 0) !important;

}

.ant-pagination-item-active a {
}

.ant-pagination-item-active {
  color: #fff !important;
  background: rgb(55, 255, 0) !important;
    border-color: #ffffff !important;
}

.ant-pagination-item-ellipsis {
  color: rgb(255, 255, 255) !important;
}

li {
  list-style: none;
}

/* ..............................form */
.update-profile__form .group {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 0 1rem;
}

.update-profile__form .group .label {
  font-size: 1.6rem;
  color: yellow;
}

input[type="file"],
.select,
.update-profile__form .group input,
.update-profile__form .group .input {
  padding: 1rem;
  outline: none;
  border-radius: 4px;
  border: none;
}

input[type="file"] {
width: 30%;
  min-width: 22rem;
background: #7a7a7a;
}

.select,
.update-profile__form .group .date {
  padding: 1rem;
  width: 17rem;
}

.update-profile__form .textarea {
  padding: 10px;
 height: 10rem;
 outline: none;
 max-width: 100%;
}

.button {
  color: #fff;
  border: none;
}

.group textarea,
.group select,
.group input {
  color: #000 !important;
}

.group__trailer {
  border: 1px solid #ccc;
}

.group__trailer-container {
  display: flex;
  margin: 0 2rem;
}

.group__trailer-control {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.group__trailer-button {
  height: 3rem;
  max-width: 5.2rem;
  display: flex;
  align-items: center;
  padding: 1.8rem;
  border-radius: 4px;
  font-size: 1.6rem;
  cursor: pointer;
}

.button-remove {
  background-color: red;
}

.button-add {
  margin-top: 0.5rem;
  margin-left: 2rem;
  background-color: green;
}

.group__trailer-list {
  width: 85%;
}

.main {
  width: 100%;
  min-height: calc(100% - 28rem);
}

.button {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  background-color: rgb(31, 30, 30);
  border-radius: 0.6rem;
  text-align: center;
  margin-right: 2rem;
  cursor: pointer;
}

.button:last-child {
  margin-right: 0;
}

.red {
  background-color: rgba(220,38,38, 0.9);
}

.blue {
  background-color: rgba(37,99,235, 0.9);
}

.green {
  background-color: rgb(0, 148, 0);
}

a {
  text-decoration: none;
}

.button i {
  font-size: 1.6rem;
  margin-right: 1rem;
}

.similar-container {
  padding: 0 5rem;

}

.movie-list {
  margin: 5rem auto;
  width: 100%; 
  color: rgb(224, 220, 220);
}

.message-icon__show {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  right: 3.5rem;
  width: 5rem;
  height: 5rem;
  background-color: rgba(0, 255, 47, 0.7);
  z-index: 1000;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
}

.message-icon__show i {
  font-size: 2rem;
  color: #fff;
}

.trailer-container.app__container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #ddd;
  /* animation-delay: 2s; */
}

.group__trailer-container {
  border-bottom: 1px solid rgb(224, 224, 224);
}

.trailer-content {
  margin: 4rem 5rem;
  position: fixed;
  width: 80%;
  /* height: 95vh; */
  max-width: 80rem;
  background-color: #313131;
  z-index: 1002;
  border-radius: 1rem;
  padding: 0 1.5rem;
  animation: moveup 0.4s ease-in-out;
}

.trailer-head__title {
  margin: 0 !important;
}

.trailer-head {
  display: flex;
  font-size: 1.4rem;
  justify-content: space-between;
  height: 6rem;
  align-items: center;
}

.trailer-head__close {
  margin-top: 1.5rem;
  cursor: pointer;
  color: rgb(168, 165, 165);

}

.trailer-head__close i::before {
  font-size: 3.3rem;
  background-color: rgb(37, 37, 37);
  border-radius: 50%;
}

.trailer-head__close:hover {
  color:rgb(223, 222, 222);
}

.checkout-group {
  font-size: 1.5rem;
  display: flex;
}

.checkbox_list {
  display: flex;
}

.radio-group,
.checkbox_item {
  display: inline-block;
  font-size: 1.5rem;
  min-width: 18rem;
  padding: 0.2rem;
}

.favourite {
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

.favourite i {
  font-size: 2.5rem;
  color: #fff;
  margin-left: 1rem;
}

.favourite-add i,
.favourite i:hover {
  color: red;
  cursor: pointer;
}

.detail-content__genres {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.detail-content__genres span {
  margin-right: 1rem;
  padding: 0.8rem 1rem;
  border: 2px solid;
  border-radius: 2.5rem;
  margin-bottom: 0.5rem;
}

.vote-start {
  color: yellow;
  margin-right: 0.2rem;
}

h1, h2, h3, h4, h5, h6 {
  color: white !important;
}

.logo-movie {
  color: yellow !important;
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
  .app__container {
    padding: 0 2rem;
  }
  .button {
    padding: 1rem 1.5rem;
    margin-right: 1rem;
  }
}






