.messenger__list {
    width: 0;
    height: 45rem;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
    
  }

  .messenger__list.show-messenger__list {
    width: 25rem;
    border-right: 1px solid rgb(234, 234, 234);
  }

  .messenger-list__header {
    height: 5rem;
    background-color: #e6eaea;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  }

  .messenger-list__header input {
    height: 3rem;
    width: 20rem;
    padding: 0 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    transform: translateX(20rem);
    transition: all 0.2s ease-out;
    z-index: 1;
  }

  .show-messenger__list .messenger-list__header input {
    transform: translateX(0);
  }

  .messenger-list__body {
    display: flex;
    height: 40rem;
    overflow-y: auto;
  }

  .messenger-friend__list {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .messenger-friend__container {
    list-style: none;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
  }

  .messenger-friend__item {
    display: flex;
    margin-bottom: 1rem;
  }

  .messenger-friend__item img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
  }

  .messenger-friend__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .messenger-friend__name {
    font-size: 1.5rem;
    font-weight: 500;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis;  */
  }

  .messenger-friend__desc {
    font-size: 1.2rem;
  }

  .messenger-friend__container:hover {
    background-color: azure;
  }

  .message-friend__button {
    margin-top: 1rem;
    color: #fff;
    font-size: 1.3rem;
  }

  .message-friend__button span {
    border-radius: 4px;
    padding: 0.6rem 1.2rem;
    margin-right: 1rem;
  }

  .user-status.user-online {
    background-color: #31a24c;
  }

  .user-status.user-offline {
    background-color: rgb(148, 148, 148);
  }

  .messenger-friend__avatar {
    position: relative;
  }

  .user-status {
    position: absolute;
    width: 10px;
    top: 0;
    right: 5px;
    height: 10px;
    border-radius: 50%;
  }
