.admin__container {
    background-color: #eaeaea;
    min-height: 100vh;
}

.ant-menu-overflow.ant-menu.ant-menu-root {
    height: 6rem;
}
  .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .ant-row-rtl .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
  
  .site-layout-background {
    background: #fff;
  }

  .ant-layout .ant-layout-has-sider {
    margin-top: 6rem;
    min-height: calc(100vh - 6rem);
  }

  .ant-menu.ant-menu-root.ant-menu-inline.ant-menu-dark {
    height: 100%;
  }

  .site-layout-background .content-list {
    padding: 0;
  }

  .site-layout-background .content-list .view-more__container {
    margin: 0;
    padding: 0;
  }

  .site-layout-background .content-list .view-more__container .ant-select-selector,
  .site-layout-background .content-list .view-more__container .new-movie__filter .ant-picker {
    border: 1px solid #d9d9d9 !important;

  }

  .admin__container .profile_title {
    color: #000 !important;
  }

  .admin__container .site-layout-background {
    background-color: rgb(50 50 50);
  }

  .admin__container .site-layout-background .layout-account {
    background-color: #fff;
  }

  .admin__container .site-layout-background h2 {
    color: #fff !important;
  }